@media (max-width: 768px) {
  .contact-paragraph {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-string {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    justify-content: center;
  }

  .form-text {
    width: 420px;
  }

  .form-message {
    width: 420px;
    display: block;
  }

  .form-send {
    display: flex;
    justify-content: space-between;
    width: 460px;
  }
}

@media (max-width: 568px) {
  .form-text {
    width: 300px;
  }

  .form-message {
    width: 300px;
    display: block;
  }

  .form-send {
    display: flex;
    justify-content: space-between;
    width: 340px;
  }
}
@media (max-width: 414px) {
  .contact-paragraph {
    width: 90%;
    font-size: 14px;
  }

  .button-send {
    display: block;
  }

  .checkbox-group {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-label {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .form-text,
  .form-message {
    width: 280px;
  }

  .form-send {
    width: 320px;
  }

  .button-send {
    padding: 5px 28px;
  }
}
